/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Page */
body {
  background: #eef1f5;
}

/* Main card */
.container {
    width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);
}

/* Form sections */
section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* Labels */
label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

/* Inputs */
input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    font-size: 14px;
}

input:focus {
    border-color: #4a90e2;
    outline: none;
}

/* Button */
.btn_login {
    width: 100%;
    padding: 10px;
    background: #4a59e2;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn_login:hover {
    background: #357ac8;
}

.popup-container {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.popup-error-message {
    color: white;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.form{
    background-color: #21a4cc;
    padding: 20px;
    width :50%;
    border-radius: 25px;;
    margin-top: -200px;
    transform: scale(1.2);

}
.navbar {
    height: 100px;
    width: 100%;
    background: blue
}